body {
  background-color: #DDD;
  padding: 2%;
}
h1, h2, h3, p, li {
  font-family: 'Lato', sans-serif;
}
.main {
  padding: 3%;
  background-color: #f5f5f5;
  opacity: 50%;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: #000080;
}
a:visited {
  color: #007070;
}

p code, li code {
  padding: 3px;
  border-radius: 2px;
  background-color: #FFE7CE;
  color: #9E4052;
}
p, li {
  font-size: 1.05em;
}
ul > li > ul > li {
  font-size: 1em;
}
pre {
  padding: 1%;
  border-radius: 10px;
  background-color: #333;
  color: #0EE;
  font-size: 1.05em;
}